/* Stijlen voor het schaakbord */

#chess-board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    border: 6px solid #ffd607;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.7);
    margin: 0 auto;
}

.square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.square.light {
    background-color: #f7f7f7;
}

.square.dark {
    background-color: #000000;
}

.square.selected {
    background-color: #7fc97f;
}

.square.valid-move {
    position: relative;
}

.square.valid-move::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 50%;
}

.square.check {
    background-color: #ff6b6b;
}

/* Responsive Design voor Schaakbord */
@media (max-width: 900px) {
    #chess-board {
        grid-template-columns: repeat(8, 80px);
        grid-template-rows: repeat(8, 80px);
        border: 5px solid #ffd607;
    }

    .square {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 700px) {
    #chess-board {
        grid-template-columns: repeat(8, 60px);
        grid-template-rows: repeat(8, 60px);
        border: 4px solid #ffd607;
    }

    .square {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 500px) {
    #chess-board {
        grid-template-columns: repeat(8, 45px);
        grid-template-rows: repeat(8, 45px);
        border: 3px solid #ffd607;
    }

    .square {
        width: 45px;
        height: 45px;
    }

    .square.valid-move::after {
        width: 15px;
        height: 15px;
    }
}
