/* Stijlen voor de schaakstukken */

.piece {
    width: 80px;
    height: 80px;
    font-size: 70px;
    cursor: grab;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece:active {
    cursor: grabbing;
}

.piece.white {
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.piece.black {
    color: #000;
    text-shadow: 0 0 3px #fff;
}

/* Drag and drop styling */
.piece.dragging {
    opacity: 0.5;
}

/* Responsive Design voor Stukken */
@media (max-width: 900px) {
    .piece {
        width: 65px;
        height: 65px;
        font-size: 55px;
    }
}

@media (max-width: 700px) {
    .piece {
        width: 50px;
        height: 50px;
        font-size: 40px;
    }
}

@media (max-width: 500px) {
    .piece {
        width: 38px;
        height: 38px;
        font-size: 30px;
    }
}
