/* Stijlen voor de schaakstukken */

.piece {
    width: 80px;
    height: 80px;
    font-size: 70px;
    cursor: grab;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece:active {
    cursor: grabbing;
}

.piece.white {
    color: #fff;
    text-shadow: 0 0 3px #000;
}

.piece.black {
    color: #000;
    text-shadow: 0 0 3px #fff;
}

/* Drag and drop styling */
.piece.dragging {
    opacity: 0.5;
}
